.card {
  width: 100%;
  max-width: 352px;
  height: 160px;
  background-color: grey;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .card {
    height: auto;
  }
}

@media (max-width: 480px) {
  .card {
    height: auto;
  }
}

.title {
  font-size: 17px;
  font-weight: 600;
  line-height: 22.95px;

  margin: 0.5rem 1rem;
}
